
#title-slide .title {
  font-size: 1.4em;
  margin-bottom: 1em;
}

#title-slide .date {
  margin-top: 1em;
}

.reveal figcaption {
  text-align: center;
}

.qrcode {
  position: absolute;
  top: 0px;
  right: 0px;
}

